body {
    width: 100%;
    height: 100%;
    overflow: hidden;
/*    margin-top: -4%;*/

}

.codrops-header {
	width: 100%;
	height: 100%;
	position: absolute;
	top: -19%;
	text-align: center;
	z-index: 1000;
	font-size: 1.5em;
}

.codrops-header h1 {
	position: absolute;
	font-weight: 700;
	font-size: 4.5em;
	line-height: 1.2;
	color: #fff;
	z-index: 1000;
	padding: 0;
	margin: 0;
	left: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	width: 100%;
	top: 40%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.cont {
    color: white;
    text-align: right;
    padding-right: 1%;
    text-transform: lowercase;
    font-size: 500px;
    opacity: 0.7;
}



#contacts {
  
}
/*-------------------------------MODALS + MODAL 1*/

#modal2 {
    min-height: 520px;
}

#modal1 {
    min-height: 580px;
}
.isbraukti {
    text-decoration: line-through!important;
}

.italic {
    font-style: italic;
}

.collapsible-header h2 {
    font-size: 20px;
}

#btn1 {
    float:right;
    position: absolute;
    top:92%;
    left: 56.5%;
}

#btn2 {
    float:right;
    position: absolute;
    top:92%;
    left: 73%;
}

#btn3 {
    float:right;
    position: absolute;
    top:92%;
    left: 89%;
}

.collapsible-body {
	padding:1%;
}
.collapsible-header {
    margin: 0%;
}
h2 {
     padding: 1.7%;
    
}
/*-------------------------------MODALS + MODAL END*/
/*-------------------------------FORM*/
#form-messages{
    color:green;
    font-size: 50px;
    text-align: center;
    opacity: 0.5;
  
}

#parastinis {
    margin-top: -5%;
}

.redstar {
    color: red;
    font-size: 15px;
}


/*-------------------------------FORM END*/
/*-------------------------------DARBAI*/

/*-------------------------------DARBAI END*/

.thumb {
    width: 97%;
    height: 80%;
/*    border: black solid 1px;*/
    box-shadow: 0 0 5px black;
}

/*---------------------------------------MEDIA---1024------------*/

@media screen and (max-width: 768px) {
    
   #btn1 {
    float:left!important;
    position: absolute;
    top:63%;
    left: 0%;
    padding-top: 3%;
    height: 12%;
    width: 100%;
}
    #btn2 {
    float:left!important;
    position: absolute;
    top:75.5%;
    left: 0%;
    padding-top: 3%;
    height: 12%;
    width: 100%;
} 
    #btn3 {
    float:left!important;
    position: absolute;
    top:88.1%;
    left: 0%;
    padding-top: 3%;
    height: 13%;
    width: 100%;
        
}
    #parastinis {
    margin-top: -7%;
}

}

/*mobile*/
@media screen and (max-width: 375px) {
    
   #btn1 {
    float:left!important;
    position: absolute;
    top:32.3%;
    left: 0%;
    padding-top: 12%;
    height: 21%;
    width: 100%;
    font-size: 20px;
    background-color:#004d40;
}
    #btn2 {
    float:left!important;
    position: absolute;
    top:53.8%;
    left: 0%;
    padding-top: 12%;
    height: 21%;
    width: 100%;
    font-size: 20px;
    background-color: #00695c;
} 
    #btn3 {
    float:left!important;
    position: absolute;
    top:75.3%;
    left: 0%;
    padding-top: 13%;
    height: 21%;
    width: 100%;
    font-size: 20px;
    background-color: #26a69a;
}
    
h6 {
    font-size: 5px;
}
    
    .collapsible-header h2 {
    font-size: 10px;
}
    
    
#modal2 {
    min-height: 0px;
}

#modal1 {
    min-height: 0px;
}
     #parastinis {
    margin-top: -22%;
}
    label {
        font-size: 2px;
        color:red;
    }


}







